<div class="container">
    <div class="card-body">  
        <h5 class="card-title ">{{titulo}}</h5>
        <form>
            <div class="form-group row"> 
            <label for="titulo" class="col-form-label col-sm-2">TITULO</label>
            <div class="col-sm-6"> 
                <input type="text" class="form-control" name="titulo" [(ngModel)]="pelicula.titulo">


              </div>
            </div>

            <div class="form-group row"> 
                <label for="sinopsis" class="col-form-label col-sm-2">SINOPSIS</label>
                <div class="col-sm-6"> 
                    <input type="text" class="form-control" name="sinopsis" [(ngModel)]="pelicula.sinopsis">
    
    
                  </div>
                </div>

                <div class="form-group row"> 
                    <label for="genero" class="col-form-label col-sm-2">GENERO</label>
                    <div class="col-sm-6"> 
                        <input type="text" class="form-control" name="genero" [(ngModel)]="pelicula.genero">
        
        
                      </div>
                    </div>

                <button class="btn btn-success" role="button" (click)='create()' *ngIf="!pelicula.id else elseBlock">REGISTRAR</button>

             <!-- //para ocultar el boton cuando sea de editar -->

              <ng-template #elseBlock>
                  <button class="btn btn-success" role="button" (click)='update()'>UPDATE</button> 
              </ng-template>

        </form>

    </div>

</div>
